{% extends 'template.html.twig' %}
{% block title %}Annonce "{{ annonce.entete }}"{% endblock %}
{% block header %}
    {% include 'header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container mb-4">
        <div class="row justify-content-center mb-2">
            <a href="javascript:history.go(-1)" type="button" class="btn btn-secondary shadow-sm">Page précédente</a>
        </div>
        <div class="row justify-content-center">
            {% if message %}
                <div class="col-md-10">
                    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{ message }}</strong>
                    </div>

                    <script>
                        $(".alert").alert();
                    </script>
                </div>
            {% endif %}
            <div class="col-md-10">

                <div class="card mb-3 shadow">
                    {% if annonce.imgs %}
                        <div id="carouselExampleControls" class="carousel slide card-img-top"
                             data-ride="carousel" style="overflow: hidden">

                            {% for img in annonce.imgs %}
                                {% if img %}
                                    <div class="carousel-item {% if loop.index0 == 0 %}active{% endif %} ">
                                        <img class="d-block w-100 card-img-top" src="{{ img }}" alt="" style="max-height: 300px">
                                    </div>
                                {% else %}
                                    <img src="img/600px-No_image_available.svg.png" class=""
                                         alt="Pas d'image" style="max-height: 500px">
                                {% endif %}
                            {% endfor %}
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                               data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                               data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
{#                        <img src="{{ annonce.imgSrc }}" class="card-img img-fluid" alt="..." style="max-height: 500px">#}
                    {% else %}
                        <img src="img/600px-No_image_available.svg.png" class="card-img img-fluid"
                             alt="Pas d'image" style="max-height: 500px">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title text-capitalize">{{ annonce.entete }}</h5>
                        <p class="card-text">{{ annonce.corps }}</p>
                        <p class="card-text"><small class="text-muted">Mise à jour le {{ annonce.dateModif|date('d/m/Y') }}, visité {{ annonce.nbVisites }} fois</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}