{% extends 'template.html.twig' %}
{% block title %}Annonces {{ rub.libelle }}{% endblock %}
{% block body %}
    {% include 'header.html.twig' %}
    <div class="container mb-4">
        <div class="row justify-content-center">
            {#                        {{ dump(annonces) }}#}
            {% if annonces is not empty %}
                {% for annonce in annonces %}
                    <div class="col-md-6">
                        <div class="card mb-3 shadow" style="max-width: 540px;">
                            <div class="row no-gutters">
                                <div class="col-md-4">
{#                                    TODO: régler image => asset#}
{#                                    <img src="../web/img/forest-4605204_640.jpg" class="card-img img-fluid" alt="...">#}
{#                                    {{ dump(annonce.imgs) }}#}

                                    {% if annonce.imgs|first %}
                                        <img src="{{ annonce.imgs|first }}" class="card-img img-fluid" alt="..." style="max-height: 500px">
                                    {% else %}
                                        <img src="img/600px-No_image_available.svg.png" class="card-img img-fluid" alt="..." style="max-height: 500px">
                                    {% endif %}
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ annonce.entete }}</h5>
                                        <p class="card-text">{{ annonce.corps }}</p>
                                        <p class="card-text"><small class="text-muted">Mise à jour
                                                le {{ annonce.dateModif|date('d/m/Y') }}</small></p>
                                        <p><a id="" class="btn btn-primary" href="?action=annonceUnique&param={{ annonce.annonceId }}" role="button">Consulter</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-info" role="alert">
                    <strong>Cette section est vide.</strong>
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}